header{
    width: 100%;
    height: auto;
    background-color: #31065A;
    padding: 25px 0px;
}
.header-text-1{
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
    margin: 0;
}
.header-text-2{
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}
.header-paragraph{
    color: #ffffff;
    font-size: 16px;
    margin: 10px 0px;
}
.my-contact{
    display: flex;
    margin-top: 10px;
}
.my-contact a{
    display: block;
    padding: 5px 11px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 22px;
    border-radius: 23px;
    margin-right: 10px;
    transition: 0.2s;
}
.my-contact a:hover{
    background-color: #ffffff;
    color: #31065A;
    text-decoration: none;
}

@media (max-width: 991px) {
    .header-text-1{
        font-size: 20px;
    }
    .header-text-2{
        font-size: 36px;
    }
    .header-paragraph{
        font-size: 16px;
    }
}
@media (max-width: 767px) {
    header{
        padding-top: 100px;
    }
    .header-text-1{
        font-size: 22px;
    }
    .header-text-2{
        font-size: 40px;
    }
}
