.project-card{
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}
.project-window{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.51);
    backdrop-filter: blur(4px);
    transition: 0.15s all linear;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-card:hover .project-window{
    top: 0;
}
.project-window a{
    display: block;
    color: #ffffff;
    background-color: #31065A;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    padding: 4px 10px 4px;
    border-radius: 5px;
    margin: 10px;
}
.window-icon{
    font-size: 20px;
    margin: 10px;
}