.about-me-part{
    padding: 45px 0px 55px 0px;
}
.section-heading{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    margin-top: 21px;
}
.my-photo{
    border-radius: 15px;
    margin: 25px 0px 30px 0px;
}
.my-heading{
    color: #ffffff;
    font-size: 32px;
    margin: 30px 0px;
}
.my-information{
    color: #ffffff;
}
.contact-btn-out{
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
}
.contact-btn{
    width: 150px;
    height: 40px;
    font-size: 17px;
    font-weight: 600;
    color: #461959;
    background-color: #ffffff;
    border-radius: 20px;
    border: none;
    transition: 0.2s;
}
.read-more-btn:hover{
    background-color: #F86F03;
    color: #ffffff;
}
.ability-part{
    padding: 45px 0px;
}
.check-icon{
    font-size: 20px;
}
/*@media (max-width: 992px){}*/