.about-me-part{
    padding: 45px 0px 55px 0px;
}
.section-heading{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    margin-top: 21px;
}
.my-photo{
    border-radius: 15px;
    margin: 25px 0px 30px 0px;
}
.my-heading{
    color: #ffffff;
    font-size: 32px;
    margin: 30px 0px;
    padding-top: 15px;
    padding-bottom: 0;
}
.knowledge-btn{
    border: 1px solid #ffffff;
    padding: 6px 20px;
    background-color: #31065A;
    color: #ffffff;
    border-radius: 25px;
    font-size: 22px;
    margin-top: 10px;
    margin-right: 10px;
}
.knowledge-btn:hover{
    cursor: default;
}
.knowledge-btn:focus{
    outline: none;
}
.my-information{
    color: #ffffff;
    margin-top: -10px;
}
.contact-btn-out{
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
}
.ability-part{
    padding: 45px 0px;
}
.check-icon{
    font-size: 20px;
}
/*@media (max-width: 992px){}*/